@layer components {
  .header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px);
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}