@layer components {
  .header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}